/* styles.css */

:root {
  --green: #b7c062; 
  --boxShadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
  --gray: #808080; 
}

@keyframes float {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0px);
  }
}


.text-xl {
  font-size: 0.9rem;
}

.name {
  line-height: 1; 
}



.bg-custom-green {
  background-color: rgb(183, 192, 98);
}

.text-custom-green {
  color: rgb(183, 192, 98);
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.narrow-text {
  max-width: 300px; 
}

.narrow-text-content {
  width: 100%;
  color: #788097;
}

@font-face {
  font-family: 'Gumela Regular';
  src: url('/home/wioletta/Desktop/mobile-portfolio/src/fonts/Gumela Regular.otf') format('opentype');
}

body {
  font-family: 'Gumela Regular', sans-serif;
}

.i-icons {
  margin-top: 0.1rem;
  display: flex;
  gap: 0rem;
}

.i-icons > * {
  transform: scale(0.3);
}

.i-icons > *:hover {
  cursor: pointer;
}

.hero-container {
  margin-bottom: 60px;
  height: 800px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.s-button {
  width: 8rem;
  margin-top: 1rem;
}

.buttons-container {
  display: flex;
  gap: 10px; 
}


.mr-4 {
  margin-right: 5rem;
}


.i-right {
  flex: 1;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: center;
  padding: 0 4rem; 
}

.flex-grow {
  flex-grow: 1;
}



.cards {
  display: flex;

}

.card {
  position: relative;
  width: 30%;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 3px solid var(--green);
  box-shadow: var(--boxShadow);
  border-radius: 10px;
  padding: 0.5rem; 
  animation: float 3s ease-in-out infinite;
  overflow: hidden;
  margin: 1rem;
  margin-top: 17rem;
  margin-right: 30px;

}

.card img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  text-align: center;
}

.title {
  font-size: 0.6rem; 
  margin: 0.5rem 0;
  font-weight: bold;
}

.detail {
  font-size: 0.5rem;
  color: #788097;
}

/* Experience component */
.experience-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.experience-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 0;
}

.tech-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.experience-years {
  font-size: 12px;
  color: var(--gray);
  font-weight: bold;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: var(--green);
  border-radius: 50%;
  font-size: 1rem;
  margin: 1rem;
  color: white;
}

/* Projects component */
.project-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.slide-title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}


/* Contact Component */
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: -5rem;
  margin-right: 27px;
}

.w-left {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technical {
  text-align: center;
}

.contact-me {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.image-class {
  width: 50px;
  height: 50px;
  margin-top: 1rem;
  margin-left: 2rem;
}

.c-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  width: 200px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

.button {
  width: 100px;
  padding: 0.3rem;
  background-color: #b7c062;
  color: #fff;
  border: none;
  cursor: pointer;
}


.button:hover {
  background-color: #b7c062;
}

.message {
  margin-top: 1rem;
  font-weight: bold;
}

/* Footer component */
.i-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
  gap: 5rem;
  margin-top: 5rem;

}

.email-address {
  text-align: center;
  margin-bottom: 2rem;
}

/* Flags */

.flag-button {
  margin-right: 10rem;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.flag-button:focus {
  outline: none;
}

.flag-icon {
  width: 30px;
  height: auto;
  position: relative;
  z-index: 1;
}





